{% extends "searchit/_layouts/main" %}

{% set config = craft.app.plugins.getPluginInfo('searchit') %}

{% block content %}

    <div class="fruit--abouticon">
        {{ svg(craft.app.plugins.getPluginIconSvg('searchit')) }}
    </div>

    <h2>{{ "Thanks for using {name}"|t('searchit', {
        name: craft.searchit.name
    }) }}</h2>

    <p>{{ 'Please report any issues through Github'|t('searchit') }}</p>

    <a class="btn btn-docs" href="{{ craft.searchit.documentationUrl }}" target="_blank">{{ "Documentation" | t('searchit') }}</a>
    <a class="btn btn-docs" href="{{ craft.searchit.changelogUrl }}" target="_blank">{{ "Changelog" | t('searchit') }}</a>
    <a class="btn btn-docs" href="{{ craft.searchit.GitHubUrl('/issues') }}" target="_blank">{{ "Issues" | t('searchit') }}</a>

    <hr>

    <h2>{{ "Licence"|t('searchit') }}</h2>

    {% set showLicenseKey = config.licenseKey or config.licenseKeyStatus != 'unknown' %}

    <div class="flex">
        <div class="pane fruit-licencekey">
            <input class="text code{% if config.licenseIssues %} error{% endif %}" size="29" maxlength="29" value="{{ config.licenseKey|replace('/.{4}/', '$0-')|trim('-') }}" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX-XXXX" readonly>
        </div>
        <a class="btn{% if config.licenseIssues %} submit{% endif %}{% if not (showLicenseKey and not config.licenseKey) %} hidden{% endif %}" href="{{ url('plugin-store/buy/searchit')}}">{{ "Buy now"|t('app') }}</a>
        <div class="spinner hidden"></div>
    </div>


{% endblock %}
