{% extends "searchit/_layouts/main" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}

{% block content %}


        {{ d(elementFilter.getErrors()) }}
        {{ d(elementFilter) }}

    <input type="hidden" name="action" value="searchit/element-filters/save">

    {% if not isNewElementFilter %}
        <input type="hidden" name="elementFilterId" value="{{ elementFilter.id }}">
    {% endif %}
    <input type="hidden" name="elementType" value="{{ elementType }}">
    <input type="hidden" name="source" value="{{ source.key }}">

    {{ redirectInput('searchit/filters/'~elementTypeHandle~'/'~sourceHandle) }}
    {{ csrfInput() }}

    {{ forms.textField({
        label: 'Filter Name'|t('searchit'),
        instructions: 'Give your filter a name. NB. Also used to head up your filter select.'|t('searchit'),
        id: 'name',
        name: 'name',
        placeholder: '',
        value: elementFilter.name ?? '',
        errors: elementFilter.getErrors('name') ?? false,
        first: true
    }) }}

    {{ forms.selectField({
        label: "Filter Type"|t('searchit'),
        instructions: "Choose the type of filter to setup."|t('searchit'),
        id: 'type',
        name: 'type',
        options: {
            custom: 'Custom'|t('searchit'),
            dynamic: 'Dynamic'|t('searchit'),
            advanced: 'Advanced'|t('searchit'),
        },
        value: elementFilter.type,
        toggle: true
    }) }}

    <hr>

    <div id="{{ 'custom'|id }}" {% if elementFilter.type != 'custom' %} class="hidden"{% endif %}>

        {{ forms.editableTableField({
            id: 'customSettings',
            name: 'settings[custom]',
            label: 'Filter Options'|t('searchit'),
            instructions: "Specify this filters dropdown options."|t('searchit'),
            rows: elementFilter.type == 'custom' ? (elementFilter.settingsAsOptions ?? []) : [],
            textual: false,
            addRowLabel: 'Add filter'|t('searchit'),
            cols: {
                name: {
                    heading: 'Name'|t('searchit'),
                    type: 'singleline',
                    width: '30%',
                },
                filter: {
                    heading: 'Filter'|t('searchit'),
                    type: 'singleline',
                }
            },
            errors: []
        }) }}

    </div>

    <div id="{{ 'dynamic'|id }}" {% if elementFilter.type != 'dynamic' %} class="hidden"{% endif %}>

        {{ forms.textareaField({
            id: 'dynamicSettings',
            name: 'settings[dynamic]',
            label: 'Filter Options'|t('searchit'),
            instructions: 'Use json or twig to define this filters options.'|t('searchit'),
            rows: 7,
            class: 'code',
            value: elementFilter.type == 'dynamic' ? (elementFilter.settings ?? '') : '',
        }) }}

        {% verbatim %}

            <h3>JSON</h3>
            <p>
            <pre class="code">{ "value":"roomCategory: 1", "label":"Room 1" },
{ "value":"roomCategory: 2", "label":"Room 2" },
{ "value":"roomCategory: 3", "label":"Room 3" },
{ "value":"roomCategory: 4", "label":"Room 4" }
        </pre>
            </p>


            <h3>Twig</h3>
            <p>
            <pre class="code">{% for category in craft.categories.group('rooms').all() %}
    { "value":"roomCategory: {{ category.id }}", "label":"{{ category.name|e }}" }{{ not loop.last ? ',' }}
{% endfor %}
        </pre>
            </p>

            <h3>Twig Include</h3>
            <p>
            <pre class="code">{% include '_includes/filters/rooms' ignore missing %}
        </pre>
            </p>

        {% endverbatim %}

    </div>

    <div id="{{ 'advanced'|id }}" {% if elementFilter.type != 'advanced' %} class="hidden"{% endif %}>

        <p>We are still working on some super useful pre-defined advanced filters.</p>
        <input type="hidden" name="settings[advanced]" value="">

    </div>

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('searchit') }}">
    </div>

{% endblock %}
