{% extends "searchit/_layouts/main" %}
{% import "_includes/forms" as forms %}

{% set fullPageForm = true %}

{% block content %}

    {#
        {{ d(elementFilter.getErrors()) }}
        {{ d(elementFilter) }}
    #}
    <input type="hidden" name="action" value="searchit/element-filters/save">

    {% if not isNewElementFilter %}
        <input type="hidden" name="elementFilterId" value="{{ elementFilter.id }}">
    {% endif %}

    {{ redirectInput('searchit/filters/'~elementTypeHandle~'/'~sourceHandle) }}
    {{ csrfInput() }}

    {{ forms.textField({
        label: 'Filter Name'|t('searchit'),
        instructions: 'What the filter will be called.'|t('searchit'),
        id: 'name',
        name: 'name',
        placeholder: 'By This',
        value: elementFilter.name ?? '',
        errors: elementFilter.getErrors('name') ?? false,
        first: true
    }) }}

    {{ forms.selectField({
        label: "Filter Type"|t('searchit'),
        instructions: "Which typ of filter do you want to create?"|t('searchit'),
        id: 'type',
        name: 'type',
        options: {
            custom: 'Custom',
            json: 'JSON / Twig',
            advanced: 'Advanced',
        },
        value: elementFilter.type,
        toggle: true
    }) }}

    <hr>

    <div id="{{ 'custom'|id }}" {% if elementFilter.type != 'custom' %} class="hidden"{% endif %}>

        {{ forms.editableTableField({
            id: 'customSettings',
            name: 'settings[custom]',
            label: 'Options'|t('searchit'),
            instructions: "Build you filter dropdown manually here"|t('searchit'),
            rows: elementFilter.type == 'custom' ? (elementFilter.settings ?? []) : [],
            textual: false,
            addRowLabel: 'Add filter'|t('searchit'),
            cols: {
                name: {
                    heading: 'Name'|t('searchit'),
                    type: 'singleline',
                    width: '30%',
                },
                filter: {
                    heading: 'Filter'|t('searchit'),
                    type: 'singleline',
                }
            },
            errors: []
        }) }}

    </div>

    <div id="{{ 'json'|id }}" {% if elementFilter.type != 'json' %} class="hidden"{% endif %}>

        {{ forms.textareaField({
            id: 'jsonSettings',
            name: 'settings[json]',
            label: 'Options'|t('searchit'),
            instructions: 'Use json and / or twig to define the filter options.'|t('searchit'),
            rows: 7,
            class: 'code',
            value: elementFilter.type == 'json' ? (elementFilter.settings ?? '') : '',
        }) }}

        {% verbatim %}
            <h3>Use JSON</h3>
            <p>
            <pre class="code">{ "value":"roomCategory: 1", "label":"Room 1" },
{ "value":"roomCategory: 2", "label":"Room 2" },
{ "value":"roomCategory: 3", "label":"Room 3" },
{ "value":"roomCategory: 4", "label":"Room 4" }
        </pre>
            </p>


            <h3>Or Twig</h3>
            <p>
            <pre class="code">{% for category in craft.categories.group('rooms').all() %}
    { "value":"roomCategory: {{ category.id }}", "label":"{{ category.name|e }}" }{{ not loop.last ? ',' }}
{% endfor %}
        </pre>
            </p>

            <h3>Or even a twig include</h3>
            <p>
            <pre class="code">{% include '_includes/filters/rooms' ignore missing %}
        </pre>
            </p>

        {% endverbatim %}

    </div>

    <div id="{{ 'advanced'|id }}" {% if elementFilter.type != 'advanced' %} class="hidden"{% endif %}>

        <p>We are still working on some super useful pre-defined advanced filters.</p>
        <input type="hidden" name="settings[advanced]" value="">

    </div>

    <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('searchit') }}">
    </div>

{% endblock %}
